*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
main{
    height: 370px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
}
#photo-heading{
    height: 100px;
    width: 250px;
    margin-top: 50px;
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #F0F2F5;

}
.kartica{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 410px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #8a93a0;
}
.forma{
    display: flex;
    flex-direction: column;

}
#email, #password{
    width: 350px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    outline: none;
}
.button{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #166FE5;
    color: white;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 25px;
}
.h1{
    font-size: 20px;
    margin: 20px;
}
.footer-kartica > a{
    text-decoration: none;
    color: #188CF5;
}