body {
    background-color: #2f3136;
    margin: 0;
    padding: 0;
    color: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    border-bottom: 1px solid #181919;
    background-color: #181919;
    color: #ECF0F1;
    padding: 10px 25px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home_button {
    text-decoration: none;
    color: #ECF0F1;
    font-family: Arial;
    font-size: 21px;
    padding-right: 10px;
}

#header_list {
    list-style: none;
    display: inline-flex;
    padding: 0%;
    margin: 0;
}

#header_list li {
    font-size: 16px;
    margin-left: 8px;
}

#login_button {
    text-decoration: none;
    font-size: 17px;
    color: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
}

#h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ECF0F1;
    text-align: center;
    margin: 20px 0;
}

.card-container {
    max-width: 800px;
    margin: 0 auto;
}

.card-row {
    display: flex;

    margin-bottom: 20px;
}

.card {
    background-color: #232527;
    border-radius: 16px;
    border: 1px solid #181919;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    width: calc(50% - 30px);
}

.card strong {
    font-size: 20px;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
}

.card.full-width {
    width: 50%;
    position: relative;
    left: 100px;
}
a{
    text-decoration: none;
    color: #ECF0F1;
}