.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
  }
  
  .dot {
    animation: dot ease-in-out 1s infinite;
    background-color: grey;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 15px;
    border-radius: 50%;
  }
  
  .dot:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-of-type(3) {
    animation-delay: 0.3s;
  }
  
  @keyframes dot {
    50% { background-color: grey; transform: scale(1.3); }
  }